$black: #121212;
$white: #fff;

$gray: #b8b8b8;
$gray-dark: #636363;
$gray-light: #f0f0f0;

$green: #1AE884;
$teal: #0BC6CC;
$pink: #fc0162;

$shadow-small: 0 .125rem .25rem rgba($black,.075);
$shadow-regular: 0 .5rem 1rem rgba($black,.15);

$border-radius: 5px;

$font-family-body: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-family-titles: "Nunito Sans", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;